%h1 Listing Fotos
%table
  %thead
    %tr
      %th Titulo
      %th Descripcion
      %th Imagen
      %th{:colspan => "3"}
  %tbody
    - @fotos.each do |foto|
      %tr
        %td= foto.titulo
        %td= foto.descripcion
        %td= image_tag(foto.imagen_url(:thumb)) if foto.imagen.present?
        %td= link_to 'Show', foto
        %td= link_to 'Edit', edit_foto_path(foto)
        %td= link_to 'Destroy', foto, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Foto', new_foto_path
