<p>
  <strong>Titulo:</strong>
  <%= @foto.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @foto.descripcion %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= image_tag(@foto.imagen, :width => 600) if @foto.imagen.present? %>
</p>

<%= link_to 'Edit', edit_foto_path(@foto) %> |
<%= link_to 'Back', fotos_path %>
